services:
  - type: web
    name: hotel-booking-ui
    env: docker
    branch: main
    plan: free
    dockerfilePath: Dockerfile
    envVars:
      - key: PORT
        value: "10000"
    healthCheckPath: /